# SPDX-FileCopyrightText: 2024 The Crossplane Authors <https://crossplane.io>
#
# SPDX-License-Identifier: CC0-1.0

/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
.DS_Store
kubeconfig
e2e/*/.cache
e2e/*/.work
e2e/*/_output

# ignore IDE folders
.vscode/
.idea/

# packages
*.xpkg