apiVersion: s3.m.aws.upbound.io/v1beta1
kind: BucketWebsiteConfiguration
metadata:
  annotations:
    meta.upbound.io/example-id: s3/v1beta1/bucketwebsiteconfiguration
  labels:
    testing.upbound.io/example-name: example
  name: example
spec:
  forProvider:
    bucketSelector:
      matchLabels:
        testing.upbound.io/example-name: example
    errorDocument:
    - key: error.html
    indexDocument:
    - suffix: index.html
    region: us-west-1
    routingRule:
    - condition:
      - keyPrefixEquals: docs/
      redirect:
      - replaceKeyPrefixWith: documents/
