apiVersion: s3.aws.upbound.io/v1beta1
kind: BucketAccelerateConfiguration
metadata:
  name: example
spec:
  forProvider:
    region: us-west-1
    bucketSelector:
      matchLabels:
        testing.upbound.io/example-name: s3
    status: Enabled
