# SPDX-FileCopyrightText: 2024 The Crossplane Authors <https://crossplane.io>
#
# SPDX-License-Identifier: CC0-1.0

apiVersion: kinesisanalyticsv2.aws.upbound.io/v1beta1
kind: ApplicationSnapshot
metadata:
  name: example-application
  annotations:
    meta.upbound.io/example-id: kinesisanalyticsv2/v1beta1/application
spec:
  forProvider:
    region: us-east-2
    applicationNameSelector:
      matchLabels:
        testing.upbound.io/example-name: example-application
---

apiVersion: kinesisanalyticsv2.aws.upbound.io/v1beta1
kind: Application
metadata:
  name: example-application
  annotations:
    meta.upbound.io/example-id: kinesisanalyticsv2/v1beta1/application
  labels:
    testing.upbound.io/example-name: example-application
spec:
  forProvider:
    region: us-east-2
    applicationConfiguration:
      - applicationCodeConfiguration:
        - codeContent:
          - s3ContentLocation:
            - bucketArnSelector:
                matchLabels:
                  testing.upbound.io/example-name: example-application
              fileKeySelector:
                matchLabels:
                  testing.upbound.io/example-name: example-application
          codeContentType: ZIPFILE
        applicationSnapshotConfiguration:
          - snapshotsEnabled: false
        environmentProperties:
          - propertyGroup:
              - propertyGroupId: PROPERTY-GROUP-1
                propertyMap:
                  Key1: Value1
              - propertyGroupId: PROPERTY-GROUP-2
                propertyMap:
                  KeyA: ValueA
                  KeyB: ValueB
        vpcConfiguration:
          - securityGroupIdSelector:
              matchLabels:
                testing.upbound.io/example-name: example-application
            subnetIdSelector:
              matchLabels:
                testing.upbound.io/example-name: example-application
    cloudwatchLoggingOptions:
      - logStreamArnSelector:
          matchLabels:
            testing.upbound.io/example-name: example-application
    runtimeEnvironment: FLINK-1_15
    serviceExecutionRoleSelector:
      matchLabels:
        testing.upbound.io/example-name: example-application
    startApplication: false
    tags:
      uptest: test

---

apiVersion: cloudwatchlogs.aws.upbound.io/v1beta1
kind: Group
metadata:
  name: example-application
  annotations:
    meta.upbound.io/example-id: kinesisanalyticsv2/v1beta1/application
  labels:
    testing.upbound.io/example-name: example-application
spec:
  forProvider:
    region: us-east-2
---

apiVersion: cloudwatchlogs.aws.upbound.io/v1beta1
kind: Stream
metadata:
  name: example-application
  annotations:
    meta.upbound.io/example-id: kinesisanalyticsv2/v1beta1/application
  labels:
    testing.upbound.io/example-name: example-application
spec:
  forProvider:
    region: us-east-2
    logGroupNameSelector:
      matchLabels:
        testing.upbound.io/example-name: example-application
    name: uptest-stream
---

apiVersion: iam.aws.upbound.io/v1beta1
kind: Role
metadata:
  name: example-application-role
  annotations:
    meta.upbound.io/example-id: kinesisanalyticsv2/v1beta1/application
  labels:
    testing.upbound.io/example-name: example-application
spec:
  forProvider:
    assumeRolePolicy: |
      {
        "Version": "2012-10-17",
        "Statement": [
          {
            "Effect": "Allow",
            "Principal": {
              "Service": "kinesisanalytics.amazonaws.com"
            },
            "Action": "sts:AssumeRole"
          }
        ]
      }
    inlinePolicy:
      - name: run-in-vpc
        policy: |
          {
            "Version": "2012-10-17",
            "Statement": [
              {
                "Sid": "VPCReadOnlyPermissions",
                "Effect": "Allow",
                "Action": [
                  "ec2:DescribeVpcs",
                  "ec2:DescribeSubnets",
                  "ec2:DescribeSecurityGroups",
                  "ec2:DescribeDhcpOptions"
                ],
                "Resource": "*"
              },
              {
                "Sid": "ENIReadWritePermissions",
                "Effect": "Allow",
                "Action": [
                  "ec2:CreateNetworkInterface",
                  "ec2:CreateNetworkInterfacePermission",
                  "ec2:DescribeNetworkInterfaces",
                  "ec2:DeleteNetworkInterface"
                ],
                "Resource": "*"
              },
              {
                "Sid": "S3ReadPermissions",
                "Effect": "Allow",
                "Action": [
                  "s3:Get*"
                ],
                "Resource": "*"
              }
            ]
          }
---

apiVersion: ec2.aws.upbound.io/v1beta1
kind: SecurityGroup
metadata:
  annotations:
    meta.upbound.io/example-id: kinesisanalyticsv2/v1beta1/application
  labels:
    testing.upbound.io/example-name: example-application
  name: example-application-sg
spec:
  forProvider:
    region: us-east-2
    vpcIdSelector:
      matchLabels:
        testing.upbound.io/example-name: example-application

---

apiVersion: ec2.aws.upbound.io/v1beta1
kind: Subnet
metadata:
  annotations:
    meta.upbound.io/example-id: kinesisanalyticsv2/v1beta1/application
  labels:
    testing.upbound.io/example-name: example-application
  name: example-application-subnet-az1
spec:
  forProvider:
    availabilityZone: us-east-2a
    cidrBlock: 192.168.0.0/24
    region: us-east-2
    vpcIdSelector:
      matchLabels:
        testing.upbound.io/example-name: example-application

---

apiVersion: ec2.aws.upbound.io/v1beta1
kind: Subnet
metadata:
  annotations:
    meta.upbound.io/example-id: kinesisanalyticsv2/v1beta1/application
  labels:
    testing.upbound.io/example-name: example-application
  name: example-application-subnet-az2
spec:
  forProvider:
    availabilityZone: us-east-2b
    cidrBlock: 192.168.1.0/24
    region: us-east-2
    vpcIdSelector:
      matchLabels:
        testing.upbound.io/example-name: example-application

---

apiVersion: ec2.aws.upbound.io/v1beta1
kind: VPC
metadata:
  annotations:
    meta.upbound.io/example-id: kinesisanalyticsv2/v1beta1/application
  labels:
    testing.upbound.io/example-name: example-application
  name: example-application-vpc
spec:
  forProvider:
    cidrBlock: 192.168.0.0/22
    region: us-east-2

---

apiVersion: s3.aws.upbound.io/v1beta1
kind: Bucket
metadata:
  name: ${Rand.RFC1123Subdomain}
  annotations:
    meta.upbound.io/example-id: kinesisanalyticsv2/v1beta1/application
  labels:
    testing.upbound.io/example-name: example-application
spec:
  forProvider:
    region: us-east-2
    objectLockEnabled: false

---

apiVersion: s3.aws.upbound.io/v1beta1
kind: Object
metadata:
  annotations:
    meta.upbound.io/example-id: kinesisanalyticsv2/v1beta1/application
    uptest.upbound.io/disable-import: "true"
  labels:
    testing.upbound.io/example-name: example-application
  name: object
spec:
  forProvider:
    bucketSelector:
      matchLabels:
        testing.upbound.io/example-name: example-application
    key: HelloWorld.zip
    region: us-east-2
    contentBase64: |
      UEsDBBQAAAAIAOoLS1eWM9spKgIAAOsCAAAOABwASGVsbG9Xb3JsZC5qYXJVVAkAA7fQJWXS0CVldXgLAAEE9QEAAAQUAAAAC/BmZuFiYOBgYHjJ7R3OgAQ4GVgYfF1DHHU9/dz0/51iYAgAKhVh4ODgwFAqAsRwpb6Ofp5ursEher5un33PnPbx1tW7yOutq3XuzPnNQQZXjB88/eR75szl0nOeOnrbgj54nD15kv+8/inPh0+L9Lx8dTx9L5au2hJkYBRy4cOJ876+Wl661588ffSUCWg/O4dyu2mZH9A2HwZk90xFc48AEHuk5uTkh+cX5aToJeckFhfnTjjtddhBpO3/ZTVf4eDg6Oj1rLs1tih9Y9Rq4ni0aIXASu5wT+spmjs9fFjkvcW59GoY5L1sjDlCX+icy/3337pg3z57O8Y5Cx8vaNnEeri1k2vhPo55TYkiKp8flu4QuDwnwHJi5xl/zqf/EpIWc91uepzE+85+5/8/M7pnhGYeXHYt4v+JkorJJ1W+f/Zh+biiq9TpbZBLYFVJwfS0i2teL+jj5eYV980RmqWdw/LasTTw0J1/P86fmnP888WEpIW+BSbhwZzHKq2EWfJ1hAtDjyw8kdds8KhTkH2S5dt/f7UEgv9sObHskZPWxu0uctqmuzI+7r2i3XjlqEVe4fWHPnPOHi6/wC3ektsnaqtz+BhfWf1S21zWN+ERvbek9yy9czFnsv+anuqq0//4QcE7eXe2pCIjA8NqRlDwMjJxMeBOG6gALaUwMokwINIKcqyJoGjTxpFykE0AxS6ywwRQTNiNJa4DvFnZQHLMQAiSl2IC8QBQSwECHgMUAAAACADqC0tXljPbKSoCAADrAgAADgAYAAAAAAAAAAAApIEAAAAASGVsbG9Xb3JsZC5qYXJVVAUAA7fQJWV1eAsAAQT1AQAABBQAAABQSwUGAAAAAAEAAQBUAAAAcgIAAAAA
