# SPDX-FileCopyrightText: 2024 The Crossplane Authors <https://crossplane.io>
#
# SPDX-License-Identifier: CC0-1.0

apiVersion: s3.aws.upbound.io/v1beta1
kind: BucketAccelerateConfiguration
metadata:
  annotations:
    meta.upbound.io/example-id: s3/v1beta1/bucketaccelerateconfiguration
  labels:
    testing.upbound.io/example-name: example
  name: example
spec:
  forProvider:
    region: us-east-2
    bucketSelector:
      matchLabels:
        testing.upbound.io/example-name: example
    status: Enabled

---

apiVersion: s3.aws.upbound.io/v1beta1
kind: Bucket
metadata:
  annotations:
    meta.upbound.io/example-id: s3/v1beta1/bucketaccelerateconfiguration
  labels:
    testing.upbound.io/example-name: example
  name: bucket-${Rand.RFC1123Subdomain}
spec:
  forProvider:
    region: us-east-2
