# SPDX-FileCopyrightText: 2024 The Crossplane Authors <https://crossplane.io>
#
# SPDX-License-Identifier: CC0-1.0

apiVersion: s3.aws.upbound.io/v1beta1
kind: BucketWebsiteConfiguration
metadata:
  name: example
spec:
  forProvider:
    region: us-east-2
    bucketSelector:
      matchLabels:
        testing.upbound.io/example-name: s3
    errorDocument:
    - key: error.html
    indexDocument:
    - suffix: index.html
    routingRule:
    - condition:
      - keyPrefixEquals: docs/
      redirect:
      - replaceKeyPrefixWith: documents/
